
<!-- Button to new method in controller -->
    <!-- <input type="checkbox" id="<%#= todo['id']%>">-->

<!-- Link to new method in controller -->
<!-- <%#= link_to "New Todo", new_todo_path %></br> -->
<h1>Todos Items List</h1>
<%= button_to "new todo item", {controller: :todos, action: :new}, :method => :get, :class => "btn btn-success" %>
<br>

<% @todos.each do |todo| %>

  <%= link_to todo["title"], todo_path(todo[:id]) %>

  <%= link_to "edit", edit_todo_path(todo[:id]) %>
  <%= link_to "delete", todo, method: :delete, data: { confirm: "You sure?" } %>
  <br>
  </br>

<% end %>
