<!-- show.html.erb has access to the @todo variable from the 
     show method in TodosController. -->
<h1>Todo Show Page</h1>
<p>Title: <%= @todo['title']%></p>
<p>Description: <%= @todo['description']%></p>

<% if @todo['done'] %>
  <p>Done!</p>
<% else %>
  <p>Still not done!</p>
<% end %>
<%= link_to "Back To Todo List",todos_path%>

